html,body {
    padding: 0 !important;
    margin: 0 !important;
    height: 300px;
    background-color: rgb(10, 11, 13);
}

p,h1 {
    margin: 0;
    color: white;
}

.header {
    width: 400px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1a48e8;
    padding: 5px;
    color: white;
}

.settings {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: transparent;
    text-underline: none;
    border: none;
    color: white;
}

.settings:hover {
    cursor: pointer;
    text-underline: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
}

.sub-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 150px;
    gap: 10px;
}

.content-header {
    font-weight: bold;
    font-size: 14px;
}

.content-subtext {
    font-size: 20px;
    font-weight: bold;
}